/******************GLOBAL**************************/
@-ms-viewport {
    width: device-width;
}

html, body , div{
	width:100%;
	overflow-x:hidden;
	font-family:Helvetica, Arial, sans-serif; 
	-webkit-text-size-adjust:100%;
    -webkit-user-select:none;

    /*Removes Bootstrap's whitespace on the right*/
    width: auto !important;
    overflow-x: hidden !important;
}



* {
    outline: 0;
}

img { border:none; }

::selection { 
	background:#aaa; 
	color:#fff; 
}

label {
    display: block;
    margin-left: 7px;
    margin-right: 7px;
}

.error {
    border-color: red !important;
}

.valid {
    border-color: lawngreen !important;
}

/******************* [DEFAULT STYLES] **************************/
/*Removes Bootstrap's whitespace on the bottom of navbar.*/
.navbar {
    margin-bottom: 0 !important;
    background-color: violet !important;
}

.navbar-default {
    background-color: violet;
}

.logo {
    background-color:white;
    float:left;
    margin:10px;
}

.form {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: purple;
}

.content {
    font-size: 40px;
    color: darkred;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: mediumpurple;
}

/************************ TABLET **************************/
@media handheld,  screen and (min-width: 600px) and (min-height:640px), 
only screen and (min-height: 440px) and (min-width:900px) {

}

/* Bootstrap Navbar */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}