/******************GLOBAL**************************/
html, body{
    font-size: 0;
    padding: 0;
    margin: 0;

    height: 100%;
    overflow-x: hidden; /* Allows the user to scroll vertically but not horizontally */

	/*width:100%;*/
	/*overflow-x:hidden;*/
	/*font-family:Helvetica, Arial, sans-serif; */
	/*-webkit-text-size-adjust:100%;*/
    /*-webkit-user-select:none;*/

    /*Removes Bootstrap's whitespace on the right*/
    /*width: auto !important;*/
    /*overflow-x: hidden !important;*/
}

* {
    outline: 0;
}

img { border:none; }

::selection { 
	background:#aaa; 
	color:#fff; 
}

label {
    display: block;
    margin-left: 7px;
    margin-right: 7px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.error {
    border-color: red !important;
}

.cursor-pointer {
    cursor: pointer;
}

.img-hide {
    display: none;
}

.img-show {
    display: auto;
}

.valid {
    border-color: lawngreen !important;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.invalid {
    color: red;
}

.page-wrapper {
    /*width: 320px; *//* Your page width */
    margin: 0 auto; /* To center your page within the body */
}

.run-flash {
    -webkit-animation: flash 2s ease;
    animation: flash 2s ease;
}

@-webkit-keyframes flash {
    0% { background-color: none;}
    50% { background-color: #fbf8b2;}
    100% {background-color: none;}
}

@-moz-keyframes flash {
    0% { background-color: none;}
    50% { background-color: #fbf8b2;}
    100% {background-color: none;}
}

@-ms-keyframes flash {
    0% { background-color: none;}
    50% { background-color: #fbf8b2;}
    100% {background-color: none;}
}

#calc-text-width
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}

/******************* [DEFAULT STYLES] **************************/
.container .jumbotron {
    border-radius: 30px !important;
}

/* Fix alignment issues with checkboxes and inline */
.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
    margin-left: 10px;
    margin-right: 10px;
}
.checkbox-inline.no_indent:last-child {
    margin-right: 0;
}

.to-center {
    margin: 0 auto;
}

.img-border {
    border: 2px solid rgba(0, 0, 0, 0.66);
}

.form {
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 20px;
    background-color: #d5d3d0;
}

.content {
    color: black;
    text-align:center;

    font-size: 14px;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;

    displaye: none;

    background-color: #f2f2f2;
}

#scrollable_result0 {
    width: 95%;
    height: 100%;
    margin: auto;
    display: none; /* By default hide this */
}

#scrollable_result1 {
    width: 95%;
    height: 100%;
    margin: auto;
    padding-top: 15px;
    display: none; /* By default hide this */
}

@media screen and (max-width:1279px) {
    .desktop-only {
        visibility: hidden;
    }
}

/************************ TABLET **************************/
/*@media handheld,  screen and (min-width: 600px) and (min-height:640px), */
/*only screen and (min-height: 440px) and (min-width:900px) {*/

/*}*/

